In [1]:
import pandas as pd
data = {
    'id': range(1, 11),
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ivan', 'Julia'],
    'age': [23, 34, 29, 45, 28, 37, 22, 31, 40, 26]
}

df = pd.DataFrame(data)
print(df)

   id     name  age
0   1    Alice   23
1   2      Bob   34
2   3  Charlie   29
3   4    David   45
4   5      Eva   28
5   6    Frank   37
6   7    Grace   22
7   8   Hannah   31
8   9     Ivan   40
9  10    Julia   26

In [2]:
df["name"]

0      Alice
1        Bob
2    Charlie
3      David
4        Eva
5      Frank
6      Grace
7     Hannah
8       Ivan
9      Julia
Name: name, dtype: object

In [5]:
df["name"].sort_values()

0      Alice
1        Bob
2    Charlie
3      David
4        Eva
5      Frank
6      Grace
7     Hannah
8       Ivan
9      Julia
Name: name, dtype: object

In [6]:
df.head()

   id     name  age
0   1    Alice   23
1   2      Bob   34
2   3  Charlie   29
3   4    David   45
4   5      Eva   28

In [7]:
df.tail()

   id    name  age
5   6   Frank   37
6   7   Grace   22
7   8  Hannah   31
8   9    Ivan   40
9  10   Julia   26

In [9]:
df

   id     name  age
0   1    Alice   23
1   2      Bob   34
2   3  Charlie   29
3   4    David   45
4   5      Eva   28
5   6    Frank   37
6   7    Grace   22
7   8   Hannah   31
8   9     Ivan   40
9  10    Julia   26

In [10]:
df.drop(columns='age')

   id     name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
4   5      Eva
5   6    Frank
6   7    Grace
7   8   Hannah
8   9     Ivan
9  10    Julia

In [12]:
df.drop('age',axis=1)

   id     name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
4   5      Eva
5   6    Frank
6   7    Grace
7   8   Hannah
8   9     Ivan
9  10    Julia

In [13]:
df.drop(index=[1,2,3])

   id    name  age
0   1   Alice   23
4   5     Eva   28
5   6   Frank   37
6   7   Grace   22
7   8  Hannah   31
8   9    Ivan   40
9  10   Julia   26

In [16]:
df.drop(index=range(0,9,2))

   id    name  age
1   2     Bob   34
3   4   David   45
5   6   Frank   37
7   8  Hannah   31
9  10   Julia   26

In [18]:
df.replace(("Bob","Frank","Julia"),("Hari","Ram","Shyam"))

   id     name  age
0   1    Alice   23
1   2     Hari   34
2   3  Charlie   29
3   4    David   45
4   5      Eva   28
5   6      Ram   37
6   7    Grace   22
7   8   Hannah   31
8   9     Ivan   40
9  10    Shyam   26

In [22]:
df["name"].replace(("Frank","Bob","Julia"),("Ram","Hari","Shyam"))

0      Alice
1       Hari
2    Charlie
3      David
4        Eva
5        Ram
6      Grace
7     Hannah
8       Ivan
9      Shyam
Name: name, dtype: object

In [25]:
df=pd.read_excel(r'D:\\SuperStore Sales DataSet.xlsx')
df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode
0,CA-2019-160304,2019-01-01,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.940,1,28.2668,No,Online
1,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.940,3,38.2668,No,Online
2,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,TEC-PH-10000455,Technology,Phones,GE 30522EE2,231.980,2,67.2742,No,Cards
3,CA-2019-125206,2019-01-03,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,California,West,OFF-ST-10003692,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.460,2,28.6150,No,Online
4,US-2019-116365,2019-01-03,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,Texas,Central,TEC-AC-10002217,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.080,2,-5.2640,No,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5896,CA-2020-143259,2020-12-30,2021-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,New York,East,FUR-BO-10003441,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",213.136,4,12.1176,No,COD
5897,CA-2020-115427,2020-12-30,2021-01-03,Standard Class,EB-13975,Erica Bern,Corporate,United States,Fairfield,California,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",295.904,2,4.5188,Yes,Online
5898,CA-2020-156720,2020-12-30,2021-01-03,Standard Class,JM-15580,Jill Matthias,Consumer,United States,Loveland,Colorado,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,388.024,3,-0.6048,No,Online
5899,CA-2020-143259,2020-12-30,2021-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,New York,East,OFF-BI-10003684,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,462.776,3,19.7910,No,COD
5900,CA-2020-151450,2020-12-31,2021-01-04,Standard Class,JM-15580,Jill Matthias,Consumer,United States,Loveland,Colorado,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,2975.510,3,-0.6048,No,COD

In [29]:
df["City"]

0        Gaithersburg
1        Gaithersburg
2        Gaithersburg
3         Los Angeles
4         San Antonio
            ...
5896    New York City
5897        Fairfield
5898         Loveland
5899    New York City
5900         Loveland
Name: City, Length: 5901, dtype: object

In [30]:
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode
0,CA-2019-160304,2019-01-01,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,No,Online
1,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,No,Online
2,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,TEC-PH-10000455,Technology,Phones,GE 30522EE2,231.98,2,67.2742,No,Cards
3,CA-2019-125206,2019-01-03,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,California,West,OFF-ST-10003692,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.46,2,28.6150,No,Online
4,US-2019-116365,2019-01-03,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,Texas,Central,TEC-AC-10002217,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.08,2,-5.2640,No,Online

In [31]:
df.tail()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode
5896,CA-2020-143259,2020-12-30,2021-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,New York,East,FUR-BO-10003441,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",213.136,4,12.1176,No,COD
5897,CA-2020-115427,2020-12-30,2021-01-03,Standard Class,EB-13975,Erica Bern,Corporate,United States,Fairfield,California,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",295.904,2,4.5188,Yes,Online
5898,CA-2020-156720,2020-12-30,2021-01-03,Standard Class,JM-15580,Jill Matthias,Consumer,United States,Loveland,Colorado,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,388.024,3,-0.6048,No,Online
5899,CA-2020-143259,2020-12-30,2021-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,New York,East,OFF-BI-10003684,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,462.776,3,19.7910,No,COD
5900,CA-2020-151450,2020-12-31,2021-01-04,Standard Class,JM-15580,Jill Matthias,Consumer,United States,Loveland,Colorado,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,2975.510,3,-0.6048,No,COD

In [32]:
df["City"].unique()

array(['Gaithersburg', 'Los Angeles', 'San Antonio', 'Broken Arrow',
       'Charlotte', 'Philadelphia', 'Jacksonville', 'Oakland', 'Amarillo',
       'Franklin', 'Raleigh', 'Fresno', 'Toledo', 'Seattle', 'Longview',
       'Springfield', 'Columbus', 'Concord', 'Westfield', 'Fairfield',
       'New York City', 'San Diego', 'Morristown', 'Fayetteville',
       'Cleveland', 'Burlington', 'Gulfport', 'Plainfield',
       'San Francisco', 'Chicago', 'Rockford', 'Dallas', 'Atlantic City',
       'Atlanta', 'Arlington', 'Houston', 'Richmond', 'Sierra Vista',
       'Rockville', 'Smyrna', 'Chattanooga', 'Lancaster', 'Tulsa',
       'Clinton', 'Jackson', 'Belleville', 'Henderson', 'Long Beach',
       'Nashville', 'Oceanside', 'Tampa', 'Milwaukee', 'Newark',
       'La Crosse', 'Yonkers', 'Denver', 'Odessa', 'Bloomington',
       'Round Rock', 'Miami', 'Mishawaka', 'Dover', 'Fort Worth',
       'Glendale', 'Milford', 'Andover', 'Eagan', 'Vineland', 'Monroe',
       'Scottsdale', 'Waynesboro', 'Riverside', 'Harlingen',
       'Redwood City', 'Green Bay', 'Bryan', 'Malden', 'Columbia',
       'Memphis', 'Littleton', 'Salem', 'Evanston', 'Saint Peters',
       'North Las Vegas', 'Gresham', 'Norman', 'Pocatello', 'Norwich',
       'Auburn', 'Troy', 'Lakewood', 'Hot Springs', 'Detroit',
       'Bakersfield', 'Wilson', 'Alexandria', 'Baltimore', 'Gastonia',
       'Grapevine', 'Omaha', 'Elmhurst', 'Chesapeake', 'Phoenix',
       'Jefferson City', 'Aurora', 'Rome', 'Hesperia', 'San Clemente',
       'Colorado Springs', 'Saint Charles', 'Little Rock', 'Greensboro',
       'Irving', 'Louisville', 'Murfreesboro', 'Encinitas', 'Tallahassee',
       'Lorain', 'Austin', 'Virginia Beach', 'Mission Viejo',
       'Cincinnati', 'Yuma', 'Fort Lauderdale', 'Middletown', 'Apopka',
       'Waterbury', 'Lafayette', 'Vallejo', 'Asheville',
       'Port Saint Lucie', 'Sparks', 'Warwick', 'Passaic', 'Athens',
       'Florence', 'Newport News', 'Washington', 'Santa Ana',
       'Delray Beach', 'Park Ridge', 'Montgomery', 'Parker', 'Wilmington',
       'Hamilton', 'Superior', 'Decatur', 'Santa Clara', 'Lowell',
       'Santa Barbara', 'Minneapolis', 'Pasadena', 'Wichita', 'Anaheim',
       'Boca Raton', 'Longmont', 'Rochester', 'Frankfort', 'Salinas',
       'Carrollton', 'Oklahoma City', 'Buffalo', 'York', 'Providence',
       'Plano', 'Roseville', 'Highland Park', 'Paterson', 'Sandy Springs',
       'Lehi', 'Huntsville', 'Hialeah', 'San Jose', 'Orem', 'Broomfield',
       'Mesa', 'Tucson', 'Provo', 'Portland', 'Grand Prairie',
       'Perth Amboy', 'Bowling Green', 'Hattiesburg', 'Allentown',
       'Westland', 'Mcallen', 'Costa Mesa', 'Holland', 'Bethlehem',
       'Pensacola', 'Suffolk', 'Peoria', 'Sacramento', 'Edmonds',
       'Hendersonville', 'Des Moines', 'Lakeland', 'West Allis', 'Kenner',
       'Akron', 'Davis', 'Edinburg', 'Greenville', 'Fort Collins',
       'Pharr', 'Sheboygan', 'Quincy', 'Hollywood', 'Englewood', 'Waco',
       'Huntington Beach', 'Madison', 'Waukesha', 'Knoxville',
       'Georgetown', 'Woodbury', 'Jonesboro', 'Cedar Rapids', 'Olathe',
       'Johnson City', 'Redondo Beach', 'Saint Paul', 'Thomasville',
       'Wheeling', 'Visalia', 'Stockton', 'Bristol', 'Arvada', 'Utica',
       'Twin Falls', 'Laguna Niguel', 'Bangor', 'Marlborough', 'Redmond',
       'New Rochelle', 'Woodland', 'Orange', 'Grand Rapids',
       'Pembroke Pines', 'Lawrence', 'Parma', 'Tigard', 'Covington',
       'Iowa City', 'Redlands', 'Mobile', 'La Porte', 'Lake Forest',
       'The Colony', 'Coral Gables', 'Pueblo', 'Spokane', 'Marysville',
       'Laredo', 'Appleton', 'Salt Lake City', 'Tempe', 'Trenton',
       'El Cajon', 'Manchester', 'Lebanon', 'Hampton', 'Boynton Beach',
       'Bridgeton', 'Lansing', 'Sterling Heights', 'San Luis Obispo',
       'Conroe', 'Urbandale', 'Chula Vista', 'Eugene', 'Cheyenne',
       'Warner Robins', 'Noblesville', 'Arlington Heights', 'Vancouver',
       'Carlsbad', 'Kent', 'Taylor', 'Niagara Falls', 'Indianapolis',
       'Edmond', 'Orlando', 'Montebello', 'Medford', 'Bellevue',
       'El Paso', 'Shelton', 'Lincoln Park', 'Overland Park',
       'East Orange', 'Palm Coast', 'Marietta', 'Hickory', 'Oxnard',
       'San Angelo', 'Marion', 'Morgan Hill', 'Murray', 'Hempstead',
       'Antioch', 'Richardson', 'Eau Claire', 'Fremont', 'Greenwood',
       'Watertown', 'Homestead', 'Torrance', 'Cuyahoga Falls',
       'Apple Valley', 'Goldsboro', 'Tamarac', 'Reading', 'Moreno Valley',
       'Nashua', 'Woodstock', 'Port Arthur', 'West Palm Beach',
       'Deer Park', 'Reno', 'Rancho Cucamonga', 'Tuscaloosa',
       'Ormond Beach', 'Keller', 'Great Falls', 'Hoover', 'Roswell',
       'Gilbert', 'Muskogee', 'Dearborn Heights', 'Southaven', 'Chester',
       'Cambridge', 'Rogers', 'Albuquerque', 'Manteca', 'Tyler',
       'Pompano Beach', 'Beaumont', 'Dearborn', 'Meriden', 'Des Plaines',
       'Oak Park', 'New Brunswick', 'Lubbock', 'Clarksville', 'Greeley',
       'Chandler', 'Kissimmee', 'Dublin', 'Sanford', 'Danville',
       'Coral Springs', 'Texarkana', 'Westminster', 'Mansfield',
       'Everett', 'Mount Vernon', 'Fargo', 'Las Vegas', 'Harrisonburg',
       'Laurel', 'Bellingham', 'Missouri City', 'Frisco', 'Pearland',
       'Skokie', 'Rochester Hills', 'Thousand Oaks', 'Saint Petersburg',
       'Maple Grove', 'Chapel Hill', 'Olympia', 'Commerce City',
       'Corpus Christi', 'Cranston', 'Pomona', 'Bolingbrook', 'Mesquite',
       'Citrus Heights', 'Farmington', 'San Mateo', 'Pico Rivera',
       'Waterloo', 'Sioux Falls', 'Elkhart', 'Kenosha', 'Loveland',
       'Cedar Hill', 'Moorhead', 'Bedford', 'Lake Charles', 'Brentwood',
       'New Bedford', 'Lakeville', 'Inglewood', 'La Mesa', 'Coppell',
       'Garland', 'Draper', 'Modesto', 'Independence', 'Naperville',
       'Woonsocket', 'Boise', 'Clovis', 'Grand Island', 'Melbourne',
       'Pine Bluff', 'Saint Cloud', 'Helena', 'Miramar', 'Brownsville',
       'Mentor', 'Lodi', 'Chico', 'Meridian', 'League City', 'Freeport',
       'Camarillo', 'Durham', 'Deltona', 'Lawton', 'Saint Louis',
       'Las Cruces', 'Springdale', 'Coachella', 'Sunnyvale', 'Pasco',
       'Aberdeen', 'Jupiter', 'Grove City', 'Elyria', 'Escondido',
       'Hillsboro', 'Hagerstown', 'Saginaw', 'College Station', 'Ontario',
       'Renton', 'Canton', 'Summerville', 'Garden City', 'Gladstone',
       'Charlottesville', 'Thornton', 'Whittier', 'North Charleston',
       'Palatine', 'Abilene', 'Port Orange', 'Danbury'], dtype=object)

In [35]:
df["State"].unique()

array(['Maryland', 'California', 'Texas', 'Oklahoma', 'North Carolina',
       'Pennsylvania', 'Florida', 'Wisconsin', 'Ohio', 'Washington',
       'New Jersey', 'Connecticut', 'New York', 'New Hampshire',
       'Georgia', 'Vermont', 'Mississippi', 'Illinois', 'Virginia',
       'Kentucky', 'Arizona', 'Tennessee', 'Colorado', 'Delaware',
       'Indiana', 'Michigan', 'Massachusetts', 'Minnesota', 'Louisiana',
       'Oregon', 'Missouri', 'Nevada', 'Idaho', 'Arkansas', 'Nebraska',
       'Rhode Island', 'Alabama', 'District of Columbia', 'Kansas',
       'South Carolina', 'Utah', 'Iowa', 'Maine', 'Wyoming', 'New Mexico',
       'Montana', 'North Dakota', 'West Virginia', 'South Dakota'],
      dtype=object)

In [36]:
df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode
0,CA-2019-160304,2019-01-01,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.940,1,28.2668,No,Online
1,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.940,3,38.2668,No,Online
2,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,Maryland,East,TEC-PH-10000455,Technology,Phones,GE 30522EE2,231.980,2,67.2742,No,Cards
3,CA-2019-125206,2019-01-03,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,California,West,OFF-ST-10003692,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.460,2,28.6150,No,Online
4,US-2019-116365,2019-01-03,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,Texas,Central,TEC-AC-10002217,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.080,2,-5.2640,No,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5896,CA-2020-143259,2020-12-30,2021-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,New York,East,FUR-BO-10003441,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",213.136,4,12.1176,No,COD
5897,CA-2020-115427,2020-12-30,2021-01-03,Standard Class,EB-13975,Erica Bern,Corporate,United States,Fairfield,California,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",295.904,2,4.5188,Yes,Online
5898,CA-2020-156720,2020-12-30,2021-01-03,Standard Class,JM-15580,Jill Matthias,Consumer,United States,Loveland,Colorado,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,388.024,3,-0.6048,No,Online
5899,CA-2020-143259,2020-12-30,2021-01-03,Standard Class,PO-18865,Patrick O'Donnell,Consumer,United States,New York City,New York,East,OFF-BI-10003684,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,462.776,3,19.7910,No,COD
5900,CA-2020-151450,2020-12-31,2021-01-04,Standard Class,JM-15580,Jill Matthias,Consumer,United States,Loveland,Colorado,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,2975.510,3,-0.6048,No,COD

In [37]:
df["State"].all()

True